
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script> -->

		<script src="/assets/js/dateFormat.js"></script>
		<script src="/assets/js/android-device-names-registry.min.js"></script>
		<script src="/assets/js/teamnexus.downloads.js"></script>

	</body>

</html>
