@import 'bootswatch/solar/variables';
@import 'bootstrap/bootstrap.scss';
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootswatch/solar/bootswatch';

body {

	> .jumbotron {
		border-radius: 0px;
	}
	
	&.scrollspy-body {
		position: relative;
	}

}

a, .btn {
	cursor: pointer;
}

b, strong {
    font-weight: bold;
}
