{% include header.html %}

<div class="jumbotron">
	<div class="container">
		<h1 class="display-6">{{ page.title }}</h1>
		<hr class="my-4">
		<p class="lead">Posted on {{ page.date | date_to_long_string }} by {% if page.homepage %}<a href="{{ page.homepage }}">{% endif %}{{ page.author }}{% if page.homepage %}</a> {% endif %}</p>
	</div>
</div>

<div class="container">

	{{ content }}

	<div class="gap-xx">&nbsp;</div>

	<div id="disqus_thread"></div>

	<noscript>
		<div class="alert alert-danger">
			Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</div>
	</noscript>

</div>

<script>
	(function() {
		var d = document, s = d.createElement('script');
		s.src = 'https://teamnexus.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>

{% include footer.html %}